<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">


</head>
<body>
    <h1>Slim - Sprint Lifecycle Management</h1>

    <div class="simpleDemo row">

        <div id="welcomeContent" ng-show="location"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Welcome to SLIM, {{location}} Team</div>

        <div class="col-md-12">
            <div class="row">
                <div ng-repeat="(listName, list) in models.lists" class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{listName}}</h3>
                        </div>

                        <ul dnd-list="list" dnd-drop="getDroppedElement($index,item,list,listName)">
                            <li ng-repeat="item in list"
                                dnd-draggable="item"
                                dnd-moved="list.splice($index, 1)"
                                dnd-effect-allowed="move" q
                                dnd-selected="models.selected = item"
                                ng-class="getClass(listName)">
                                <span class="task">Task</span> : {{item.label}}<br /><span class="task">JIRA</span> : {{item.Jira}}<br /> <span class="task">Assigned To</span> :{{item.AssignedTo}}<br /> <span class="task"> Epic </span> :{{item.Epic}}<br /> <span class="task"> Estimation </span>:{{item.Estimation}}

                            </li>
                        </ul>

                    </div>

                </div>
            </div>
         </div>


    </div>

    <div class="container graphContainer">
        <div class="row">

            <div class="col-md-6">
                <h1>Sprint Summary</h1>
                <canvas id="pie" class="chart chart-pie"
                        chart-data="data" chart-labels="labels" chart-options="options"></canvas>

            </div>

            <div class="col-md-6">
                <h1>Sprint BurnDown</h1>
                <canvas id="line" class="chart chart-line"
                        chart-data="burnDownData" chart-labels="days" chart-series="series" chart-options="options"></canvas>

            </div>


        </div>

    </div>
</body>
</html>
